@import "../../assets/scss/common/variable";
@import "../../assets/scss/common/mixins";

.project-item {
  border-radius: 1.5rem;
  margin-bottom: 2px;
  height: 30rem;
  position: relative;
  @include d-flex;
  align-items: flex-end;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba($black, 0.25);
  transition: all 0.3s ease-in-out;
  @include max(992px) {
    grid-template-columns: 100%;
    min-height: auto;
    flex-direction: column;
  }
  .title-h2,
  .project-desc {
    margin-bottom: 15px;
  }
  .project-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .project-img {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
    top: 0;
    left: 0;
  }
  .project-info {
    position: relative;
    z-index: 2;
    height: auto;
    background: rgba($white-f7, 0.5);
    padding: 2rem;
  }
  .project-info-bottom {
    @include d-flex;
    height: 0;
    justify-content: flex-end;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }
  &:hover {
    box-shadow: 0px 8px 15px rgba($black, 0.25);
    .project-info-bottom {
      height: 2rem;
    }
  }
}

.listProject {
  .listProject-top {
    @include d-flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    align-items: center;
  }
  .listProject-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    @include max(992px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include max(768px) {
      grid-template-columns: 100%;
    }
  }
}
