@import "../../assets/scss/common/variable";
@import "../../assets/scss/common/mixins";

.scrolltop {
    display: grid;
	position: fixed;
	bottom: 50px;
	right: 25px;
	height: 52px;
	width: 52px;
	z-index: 111;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
	place-items: center;
	border-radius: 50%;
    transition: all 0.3s ease;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
	cursor: pointer;    

    &.show {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        transition: all 0.3s ease;
    }
    .scrolltop-value {
        display: block;
        height: calc(110% - 12px);
        width: calc(110% - 12px);
        background-color: #ffffff;
        border-radius: 50%;
        display: grid;
        place-items: center;
        font-size: 35px;
        color: $color-primary;
    }
    i{
        font-size: 25px;
    }
}   