@import "../../assets/scss/common/variable";
@import "../../assets/scss/common/mixins";

.section-title-block{
    text-align: center;
    padding: 50px 0;
    @include max(575px){
        padding: 30px 0;
    }
    .section-title{
        position: relative;
        text-transform: uppercase;
        margin-bottom: 40px;
        &::after{
            content: '';
            display: inline-block;
            width: 50px;
            height: 5px;
            border-radius: 2px;
            background-color: $color-primary;
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    p{
        margin: auto;
        max-width: 80%;
        @include max(575px){
            max-width: 100%;
        }
    }
}