@import "../../assets/scss/common/_variable.scss";
@import "../../assets/scss/common/_mixins.scss";

.content {
  background: $white-f7;
  padding: 3rem 0;
  @include max(768px) {
    padding: 1.5rem 0.5rem;
  }
  .container {
    @include d-grid-50();
    @include max(768px) {
      grid-template-columns: 1fr;
      row-gap: 1rem;
    }
  }
  p{
    text-align: justify;
  }
  &.contact {
    .content-col {
      &:last-child {
        text-align: right;
      }
    }
  }
}
