@import "../../assets/scss/common/variable";
@import "../../assets/scss/common/mixins";

.form-block{
    margin: auto;
    margin-bottom: 100px;
    @include max(768px){
        margin-bottom: 50px;
    }
}
.form-content{
    padding: 50px;
    background: #FFF;
    border-radius: 3px;
    max-width: 700px;
    margin: auto;
    @include max(768px){
        max-width: 100%;
        padding: 50px 30px;
    }
    .form-group-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        @include max(768px){
            grid-template-columns: 100%;
        }
    }
    .form-group{
        margin-bottom: 20px;
        &.form-group-btn{
            margin-bottom: 0;
            display: flex;
            justify-content: flex-end;
        }
    }
    label{
        display: block;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 5px;
        color: $grey-4A;
        text-transform: capitalize;
    }
    .form-control{
        width: 100%;
        background: rgba($white-f7,0.5);
        border-bottom: 1px solid $grey;
        padding: 10px 15px;
        transition: all 0.5s ease-in-out;
        &:focus{
            outline: none;
            box-shadow: none;
            background: $white-f7;
        }
        &.error{
            border: 1px solid $red;
        }
    }
    .btn-primary{
        text-transform: uppercase;
    }
    .error-message{
        font-size: 12px;
        color: $red;
    }
}