@import "../../assets/scss/common/_variable.scss";
@import "../../assets/scss/common/_mixins.scss";

.contact-body {
  .contact-top {
    padding: 1rem 0;
    .link {
      display: block;
      color: $color-primary;
    }
  }
  .contact-bottom {
    @include d-flex;
    gap: 0.5rem;
    .btn {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}
