.page-404{
    display: flex;
    align-items: center;
    justify-content: center;
    .page-404-body{
        padding: 65px 0 115px;
        @include max(1440px){
            padding: 50px 0;
        }
        .page-404-img{
            height: auto;
            @include max(1440px){
                width: 800px;
            }
            @include max(1200px){
                width: 100%;
            }
            @include max(575px){
                display: block;
                width: 90%;
                margin: auto;
            }
        }
    }
}