$font-path: '/assets/fonts/';
$font-path-icon: '/assets/fonts/font-icon/';

//Color
$color-primary: #336699;
$color-secondary: #0099cc;
$white: white;
$grey: #9A9A9A;
$grey-4A: #4A4A4A;
$dark-grey: #404040;
$grey-c4: #C4C4C4;
$grey-3: #5B5B5B;
$grey-6A: #6A6B6C;
$grey-4: #EEEAEA;
$red: #FF0000;
$blue-2: #DDFAFE;
$white-f4: #F4F7FA;
$white-f7: #F7F7F7;

$finish-color: #53b281;
$color-gradient: linear-gradient(90deg, #53B281 0%, #53B281 42.2%, #ED8606 55.39%, #EE411A 84.92%, #EE1C25 100.75%);

//Font-family
$font-family: 'Inter';

/* Light mode (default) */
:root {
    --text-color: #000;
    --bg-main: #F4F7FA;
    --bg-footer: #404040;
    --bg-project: #fff;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #fff;
        --bg-main: #1c1f1e;
        --bg-footer: #000;
        --bg-project: #000;
    }
}