@font-face {
  font-family: "icomoon";
  src: url($font-path-icon + "icomoon.eot?saezpr");
  src: url($font-path-icon + "icomoon.eot?saezpr#iefix")
      format("embedded-opentype"),
    url($font-path-icon + "icomoon.ttf?saezpr") format("truetype"),
    url($font-path-icon + "icomoon.woff?saezpr") format("woff"),
    url($font-path-icon + "icomoon.svg?saezpr#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "icomoon";
  src: url($font-path-icon + "icomoon.eot?a9r5h8");
  src: url($font-path-icon + "icomoon.eot?a9r5h8#iefix")
      format("embedded-opentype"),
    url($font-path-icon + "icomoon.ttf?a9r5h8") format("truetype"),
    url($font-path-icon + "icomoon.woff?a9r5h8") format("woff"),
    url($font-path-icon + "icomoon.svg?a9r5h8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-map-pin:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e906";
}
.icon-mail:before {
  content: "\e907";
}
.icon-arrow-up:before {
  content: "\e904";
}
.icon-burger:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-fb:before {
  content: "\e900";
}
.icon-linkedin:before {
  content: "\e901";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-github:before {
  content: "\eab0";
}
