@font-face {
  font-family: 'icomoon';
  src:  url($font-path-icon + 'icomoon.eot?a36k3u');
  src:  url($font-path-icon + 'icomoon.eot?a36k3u#iefix') format('embedded-opentype'),
    url($font-path-icon + 'icomoon.ttf?a36k3u') format('truetype'),
    url($font-path-icon + 'icomoon.woff?a36k3u') format('woff'),
    url($font-path-icon + 'icomoon.svg?a36k3u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-burger:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-fb:before {
  content: "\e900";
}
.icon-linkedin:before {
  content: "\e901";
}
.icon-checkmark:before {
  content: "\ea10";
}

