$font-path: '/assets/fonts/';
$font-path-icon: '/assets/fonts/font-icon/';

//Color
$color-primary: #336699;
$color-secondary: #0099cc;
$white: white;
$grey: #9A9A9A;
$grey-4A: #4A4A4A;
$dark-grey: #404040;
$grey-c4: #C4C4C4;
$grey-3: #5B5B5B;
$grey-6A: #6A6B6C;
$grey-4: #EEEAEA;
$light-grey: #DFE1E6;
$red: #FF0000;
$red-dark: #D30E3F;
$orange: #ED8606;
$blue: #00C3F2;
$blue-2: #DDFAFE;
$blue: #55B0D5;
$blue-3: #E0F2F8;
$white-f4: #F4F7FA;
$white-f7: #F7F7F7;
$white-FA: #FAFAFA;
$yellow: #FFD301;


$disableProgress : #D9D9D9;

$green-bg: #f1f9f5;
$green-bg-2: #EEF6E9;

$accent-color: #55B0D5;
$finish-color: #53b281;
$color-gradient: linear-gradient(90deg, #53B281 0%, #53B281 42.2%, #ED8606 55.39%, #EE411A 84.92%, #EE1C25 100.75%);

//Font-family
$font-family: 'Inter';