@import "../../assets/scss/common/variable";
@import "../../assets/scss/common/mixins";

.block-info {
  .title-h2 {
    margin-bottom: 20px;
  }
  .block-info-img {
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .block-info-desc {
    margin-bottom: 20px;
    text-align: justify;
  }
  .btn-primary {
    text-transform: uppercase;
  }
}
