@import "../../assets/scss/common/variable";
@import "../../assets/scss/common/mixins";

.block-info{
    .title-h2{
        margin-bottom: 20px;
    }
    .block-info-desc{
        margin-bottom: 20px;
    }
    .btn-primary{
        text-transform: uppercase;
    }
}