@import "../../assets/scss/common/variable";
@import "../../assets/scss/common/mixins";

.footerPage {
  background: var(--bg-footer);
  position: relative;
  z-index: 2;
  a {
    color: $grey-c4;
    text-decoration: none;
    &:hover {
      color: #fff;
    }
  }
  .footerCopyright {
    padding: 18px 135px;
    border-top: 1px solid rgba($grey-c4, 0.25);
    background: var(--bg-footer);
    margin: 0 6px;
    @include max(1440px) {
      padding: 18px 50px;
    }
    @include max(768px) {
      padding: 10px 15px;
      border-top: none;
    }
    .cntCopyright {
      display: flex;
      justify-content: center;
      align-items: center;
      @include max(635px) {
        flex-direction: column;
        text-align: center;
      }
    }
    p {
      color: $grey-c4;
      font-size: 14px;
      font-weight: 300;
    }
    .copyRightLink {
      text-decoration: underline;
    }
  }
}
