@import "../../assets/scss/common/variable";
@import "../../assets/scss/common/mixins";


.footerPage {
    background: $dark-grey;
    position: relative;
    z-index: 2;
    a {
        color: $grey-c4;
        text-decoration: none;
        &:hover {
            color: #FFF;
        }
    }
    .cntFooter { 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 100px;
        padding: 30px 135px;
        @include max(1440px){
            padding: 30px 50px;
            column-gap: 75px;
        }
        @include max(1200px){
            column-gap: 50px;
        }
        @include max(768px){
            display: flex;
            flex-direction: column;
            padding: 24px 15px 45px;
        }
        .titleFooter {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 18px;
            color: #FFF;
            @include max(1440px){
                font-size: 18px;
            }
        }
        .listLink {
            display: flex;
            align-items: center;
            grid-gap: 12px;
            @include max(768px){
                justify-content: center;
            }
        }
        p{
            color:$grey-c4;
            font-size: 12px;
        }
        .colFooter{
            .txtFooter {
                text-align: left;
                max-width: 50%;
                @include max(768px){
                    max-width: 100%;
                }
            }

            &:last-child{
                justify-self: flex-end;
                @include max(768px){
                    padding: 24px 0 0;
                }
            }
            @include max(768px){
                text-align: center;
            }
        }
        .icon-footer{
            font-size: 20px;
        }
    }
    .footerCopyright {
        padding: 18px 135px;
        border-top: 1px solid rgba($grey-c4, 0.25);
        background: $dark-grey;
        margin: 0 6px;
        @include max(1440px){
            padding: 18px 50px;
        }
        @include max(768px){
            padding: 0px 15px 10px;
            border-top: none;
        }
        .cntCopyright {
            display: flex;
            justify-content: center;
            align-items: center;
            @include max(635px) {
                flex-direction: column;
                text-align: center;
            }
        }
        p{
            color: $grey-c4;
            font-size: 12px;
            font-weight: 300;
        }
        .copyRightLink{
            text-decoration: underline;
        }
        .itemCol{
            @include max(768px){
                margin-bottom: 24px;
            }
        }
    }
}